.menu_container {
    border-top: 6px solid #ef6065;
}
#menu .ddsmoothmenu li li:last-child {
    border-bottom: 5px solid #ef6065;
}
#menu li.current-menu-item a, 
#menu li.current_page_item a, 
#menu li.current-menu-parent a, 
#menu li.current_page_parent a, 
#menu li a.selected, 
#menu li a:hover,
#menu .ddsmoothmenu li li a {
    background: #ef6065;
}

#menu .ddsmoothmenu li ul li:hover>a{
    background:#aa4548; 
}
.flex-caption-wrapper {
    background: url(../../images/caption-bg-red.png) repeat-x;
}
.feature-content .feature-content-inner:hover {
    box-shadow: 0 1px 8px #ef6065;
    -moz-box-shadow: 0 1px 8px #ef6065;
    -webkit-box-shadow: 0 1px 8px #ef6065;
}
.feature-content .feature-content-inner:hover .feature-content-text .circle img {
    border: 3px solid #ef6065;
}
.stMain ul.tabAnchor li a:hover , .stMain ul.tabAnchor li a.sel{
    color:#ef6065;
}
.feature_blog_content .post h1.post_title,
.content-bar .post h1.post_title{
    background: url(../../images/post_head_bg-red.png) repeat;
    border-bottom: 1px solid #aa4548;
    border-top: 1px solid #aa4548;
}
.feature_blog_content .post .post_image .post_comment, .content-bar .post .post_image .post_comment  {
    background: url(../../images/post_comment-red.png) no-repeat;
}
.feature_blog_content .post .post_content,
.content-bar .post .post_content{
    border-bottom:6px solid #ef6065;
}
.feature_blog_content .post .read_more, .content-bar .post .read_more {
    color: #ef6065;
}
.content-bar .post.single h1.post_title {
    border: 1px solid #ef6065;
}
.footer_top_container {
    background: #af393c;
    border-bottom: 1px solid #832325;
}
.footer_top_container .call_us p {
    color: #f3acae;
    background: url(../../images/call-img-red.png) left center no-repeat;
}
.footer_container {
    background: #d0474b;
    border-top: 1px solid #d96c6f;
    border-bottom: 1px solid #d96c6f;
}
.footer .footer_widget ul li {
    border-bottom: 1px solid #de5a5e;
}
.bottom_footer_container {
    background: #af393c;
    border-top: 1px solid #832325;
}
.bottom_footer_container .copyrightinfo p, .bottom_footer_container .copyrightinfo a  {
    color: #f3acae;
}
.bottom_footer_content .footer_nav li a {
    background: url(../../images/footer_nav_sep-red.png) right center no-repeat;
    color: #f3acae;
}
.footer .widget_area .widget_heading {
    background: url(../../images/footer_head_sep-red.png) bottom left no-repeat;
}
.footer .footer_widget .searchform input[type="text"] {
    border: 2px solid #A7292D;
    background: #DC5559;
    background: -webkit-gradient(linear, left top, left bottom, from(#DC5559), to(#A7292D));
    background: -moz-linear-gradient(top, #DC5559, #A7292D);
    background: linear-gradient(to bottom, #DC5559, #A7292D);
}
.footer .footer_widget .searchform input[type="text"]:focus{
    background:#DC5559;
}
.footer .footer_widget .searchform input[type="submit"] {
    background: url(../../images/footer_search-red.png) no-repeat;
    border: 1px solid #A7292D;
}
.page_heading_container {
    background: #eb7e7c;
    border-bottom: 6px solid #af393c;
}
.page-container .searchform, .sidebar.home .searchform{
    border:2px solid #ef6065;
}
.page-container .searchform input[type="submit"], .sidebar.home .searchform input[type="submit"] {
    background:url(../../images/search-red.png) no-repeat;
}
.sidebar ul li a:hover {
    color:#ef6065;
}
.sidebar ul li:hover {
    background:url(../../images/plus-hover-red.png) 7px 20px no-repeat;
}
ol.commentlist li.comment .comment-body {
    border: 2px solid #eb7e7c;
}
ol.commentlist li.comment .comment-author .avatar {
    border: 2px solid #eb7e7c;
}
ol.commentlist li.comment .reply a {
    background: #DD5E62;
    border: 3px solid #CE5458;
    text-shadow: 0 1px 0 #eb7e7c;
}
ol.commentlist li.comment .reply a:hover{
    background: #EB7377;
    border: 3px solid #F8B8BA;
}
#respond input[type='text']:focus, #commentform textarea:focus{
    -moz-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    -webkit-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    -o-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    -ms-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
}
#contactForm input[type="text"]:focus, #contactForm input[type="email"]:focus, #contactForm textarea:focus{
    -moz-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    -webkit-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    -o-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    -ms-box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
    box-shadow: inset 0 0 15px #ddd, 0px 0px 0 4px #eb7e7c;
}
#contactForm input[type="submit"],
#commentform input#submit{    
    color: #6f1e24;
    text-shadow: 0 1px 0 #f9b1b6;
    -moz-box-shadow:inset 0px 1px 0px 0px #E84D52;
    -webkit-box-shadow:inset 0px 1px 0px 0px #E84D52;
    box-shadow:inset 0px 1px 0px 0px #E84D52;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EE7881), color-stop(1, #E84D52));
    background:-moz-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:-webkit-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:-o-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:-ms-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:linear-gradient(to bottom, #EE7881 5%, #E84D52 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE7881', endColorstr='#E84D52',GradientType=0);
    background-color:#EE7881;
    border:1px solid #E84D52;
}

#contactForm input[type="submit"]:hover,
#commentform input#submit:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E84D52), color-stop(1, #EE7881));
    background:-moz-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:-webkit-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:-o-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:-ms-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:linear-gradient(to bottom, #E84D52 5%, #EE7881 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E84D52', endColorstr='#EE7881',GradientType=0);
    background-color:#E84D52;
}
.contact-map iframe {
    border: 3px solid #eb7e7c;
}
.page-content .gallery .thumbnail li img {
    border: 4px solid #eb7e7c;
}
.page-content .gallery .thumbnail li img:hover {
    border: 4px solid #af393c;
}
.page-content .gallery ul.thumbnail li:hover span {
    background: url(../../images/gall-search-red.png) center no-repeat;
}
.page-content .content-bar .gallery .thumbnail li img {
    border: 4px solid #eb7e7c;
}
.content-bar .gallery .thumbnail li img:hover {
    border: 4px solid #af393c;
}
.content-bar .gallery .thumbnail li:hover span {
    background: url(../../images/gall-search-red.png) center no-repeat;
}
.feature-content .feature-content-inner:hover h3 {
    border: 1px solid #f9c8c9;
}
.feature-content .feature-content-inner:hover .feature-content-text {
    border: 1px solid #f9c8c9;
    border-top: none;
}
span.search_btn_tri {
    border-right: 15px solid #EF6065;
}
.page-container .searchform input[type="submit"], .sidebar.home .searchform input[type="submit"] {
    background: #EF6065;
}
.flex-caption-wrapper {
    background: linear-gradient(to bottom, rgba(239, 96, 101, 0.68)  80%, #EF6065 100%);
}
.flex-caption-wrapper .flex-caption-left-tri, .flex-caption-wrapper .flex-caption-right-tri {
    border-top: 34px solid rgba(239, 96, 101, 0.68) ;
}
a{
    color:#EF6065;
}
a:hover,
h:focus,
.widget_area a:hover,
.feature_blog_content ul li .read_more:hover,
.content-bar .post .read_more:hover,
h1.site-title a:hover{
    color:#f3acae;
}
.feature_blog_content .post .post_meta li span.glyphicon, .content-bar .post .post_meta li span.glyphicon{
    color:#f3acae;
}
#wp-calendar #today,
#wp-calendar tbody td a{
    color: #EF6065;   
}
.footer #wp-calendar #today{
    background:#EF6065;
}
ul.paging li a {    
    background: #fd7572;
    border-bottom: 3px solid #ce403d;   
}
ul.paging a.active, 
ul.paging a.current,
ul.paging a:hover {
    background: #ce403d;
    border-bottom: 3px solid #89211f;
}
/*WooCommerce CSS*/
.page-container .sidebar .woocommerce.widget_shopping_cart a.button.wc-forward,
.home_container .sidebar .woocommerce.widget_shopping_cart a.button.wc-forward,
.footer_widget .woocommerce.widget_shopping_cart a.button.wc-forward,
.woocommerce ul.products li.product .button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.page-container .sidebar .woocommerce.widget_product_search input[type="submit"],
.home_container .sidebar .woocommerce.widget_product_search input[type="submit"],
.footer_widget .woocommerce.widget_product_search input[type="submit"],
.woocommerce div.product form.cart .button,
.woocommerce .page-content #respond input#submit, 
.woocommerce .page-content a.button, 
.woocommerce .page-content button.button,
.woocommerce .page-content input.button,
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce-cart .page-container .wc-proceed-to-checkout a.checkout-button,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
    color:#89211f;
    text-shadow:0 1px 0 #EE7881;
    -moz-box-shadow:inset 0px 1px 0px 0px #E84D52;
    -webkit-box-shadow:inset 0px 1px 0px 0px #E84D52;
    box-shadow:inset 0px 1px 0px 0px #E84D52;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #EE7881), color-stop(1, #E84D52));
    background:-moz-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:-webkit-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:-o-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:-ms-linear-gradient(top, #EE7881 5%, #E84D52 100%);
    background:linear-gradient(to bottom, #EE7881 5%, #E84D52 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE7881', endColorstr='#E84D52',GradientType=0);
    background-color:#EE7881;
    border:1px solid #E84D52;

}
.page-container .sidebar .woocommerce.widget_shopping_cart a.button.wc-forward:hover,
.home_container .sidebar .woocommerce.widget_shopping_cart a.button.wc-forward:hover,
.footer_widget .woocommerce.widget_shopping_cart a.button.wc-forward:hover,
.woocommerce ul.products li.product .button:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.page-container .sidebar .woocommerce.widget_product_search input[type="submit"]:hover,
.home_container .sidebar .woocommerce.widget_product_search input[type="submit"]:hover,
.footer_widget .woocommerce.widget_product_search input[type="submit"]:hover,
.woocommerce div.product form.cart .button:hover,
.woocommerce .page-content #respond input#submit:hover, 
.woocommerce .page-content a.button:hover, 
.woocommerce .page-content button.button:hover,
.woocommerce .page-content input.button:hover,
.woocommerce .cart .button, .woocommerce .cart input.button:hover,
.woocommerce-cart .page-container .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E84D52), color-stop(1, #EE7881));
    background:-moz-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:-webkit-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:-o-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:-ms-linear-gradient(top, #E84D52 5%, #EE7881 100%);
    background:linear-gradient(to bottom, #E84D52 5%, #EE7881 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E84D52', endColorstr='#EE7881',GradientType=0);
    background-color:#E84D52;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
    background-color: #E84D52;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
    background-color: #89211f;
}
/*Price*/
span.woocommerce-Price-amount,
.home_container .sidebar .mini_cart_item span.quantity,
.page-container .sidebar .mini_cart_item span.quantity {
    color:#E84D52;
}
.woocommerce .star-rating span{
    color:#E84D52;
}

.woocommerce .page-content ul.page-numbers li span,
.woocommerce .page-content ul.page-numbers li a{    
    background: #E84D52;
    border-bottom: 3px solid #89211f; 
}
.woocommerce .page-content ul.page-numbers span.active,
.woocommerce .page-content ul.page-numbers span.current,
.woocommerce .page-content ul.page-numbers span:hover,
.woocommerce .page-content ul.page-numbers a:hover {
    background: #E84D52;
    color:#fff;
    border-bottom: 3px solid #89211f;
}
.footer_widget  .mini_cart_item span.quantity, .home_container .sidebar .mini_cart_item span.quantity {
    color: #E84D52;
}
